<script type="text/javascript">
    if (document.querySelector('head').childElementCount === 1) {
        window.location.href = '/home';
    };
</script>

<form id="ModalForm" name="stepForm" class="form" method="post" action="" novalidate>
    <div class="modal-header" >
        <h4 class="modal-title">Change UTub Description!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body">        
        {{ utub_details_form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ utub_details_form.utub_name.label(class="form-control-label")}}
                {{ utub_details_form.utub_name(class="form-control form-control-lg")}}
            </div>
            <div class="form-group">
                {{ utub_details_form.utub_description.label(class="form-control-label")}}
                {{ utub_details_form.utub_description(class="form-control form-control-lg")}}
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{ utub_details_form.submit(class="btn btn-success")}}
    </div>
</form>
