{% extends "splash.html" %}
{% block addl_css %}
    {{ super() }}
{% endblock %}

{% block content %}
<script type="text/javascript">
    const userUtubs = JSON.parse('{{utubs_for_this_user|tojson|safe}}');
</script>
<section class="container-fluid px-1 py-2 main-content">
    <div class="row row-main-content" style="margin: 0;">

        <!-- Left Side Panel -->

        <div id="leftPanel" class="col-md-2 order-2 order-md-1 left-side-panel">
            <!-- Will be creation date ordered by default, but repositionable (preferenced order saved and stored with user) -->
            <div id="UTubDeck" class="col-12 col-lg-12 panel p-3 d-flex flex-column">
                <div>
                    <h2>UTubs</h2>
                </div>
                <div class="row utubs-row">
                    <div class="div col-12 col-lg-12 utub-names-holder">
                        <div class="form-check utub-names-ids">
                            <!-- UTUB NAMES, IDS, RATIO BUTTONS HERE -->
                        </div>
                    </div>
                </div>
                <div class="row mt-auto">
                    <div class="div col-12 col-lg-12 utub-buttons">
                        <a class="btn btn-primary create-utub btn-block align-bottom" style="margin-top: 10px" href="#">Make a UTub!</a>
                    </div>
                </div>    
            </div>
            <!-- Will be alpha ordered -->
            <div id="TagDeck" class="col-12 col-lg-12 panel py-3 d-flex flex-column">
                <h2>Tags</h2>
                <div class="row tags-row">
                    <div class="div col-12 col-lg-12 tag-names-holder">
                        <form class="form-check tags-for-utub">
                            <!-- UTUB TAGS -->
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Center Panel -->

        <div id="centerPanel" class="col-md-7 text-left order-2 order-md-1 px-0 panel py-3">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-11 mb-md-0">
                    <div class="row justify-content-center">
                        <div class="col-9 col-lg-9 mb-md-0 utub-title-holder">
                            <h2 class="utub-title"></h2>
                        </div>
                        <div class="col-3 col-lg-3 mb-md-0 text-right">
                            <button type="button" class="btn btn-primary btn-lg btn-block add-url">
                                Add a URL!
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-12 mb-md-0 utub-holder">
                            <!-- UTUB DATA HERE -->
                        </div>
                    </div> 
                </div>
            </div>
        </div>


        <!-- Right Side Panel -->

        <div id="rightPanel" class="col-md-3 order-3 order-md-3 panel">
            <!-- MEMBER PANEL -->
            <div id="MemberDeck" class="col-12 col-lg-12 p-3 panel d-flex flex-column">
                <h2>Members</h2>
                <div class="row members-row"> 
                    <div class="col-12 col-lg-12 members-holder ">
                        <!-- MEMBER DATA HERE -->
                    </div>
                </div>
                <div class="row mt-auto">
                    <div class="col-12 col-lg-12 member-buttons">
                        <!-- MEMBER DATA HERE -->
                    </div>
                </div> 
            </div>

            <div id="ChatDeck" class="col-12 col-lg-12 p-3 panel d-flex flex-column">
                <h2>Chat</h2>
                <div class="row chat-window">
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}

{% block modal_extender %}
    {{ super() }}
{% endblock %}


