.page-holder {
    min-height: 96vh;
    
    /* filter: grayscale(100%); */
  }
  
.bg-cover {
    background-size: cover !important;
    
}

.splash-text {
    box-sizing: border-box;
    background: rgba(248, 248, 248, 0.74);
    border: 5px solid #969696;
}


.splash-text h1, p {
    color: #000000;
    font-weight: bold;
}