p {
    color: white;
}

a {
    color: aqua
}

form {
    display: flex;
    flex-flow: column;
}

.panel {
    border-radius: 30px;
}

.utub-names-radios {
    padding-bottom: 5px;
}

.form-check-label {
    font-family: 'Nunito';
    font-size: large;
}

span.tag {
    background: white;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 16px;
}

.url-card {
    padding: 3px;
    margin: 2px;
}

.del-link, .add-tag {
    margin-top: 5px;
}

.del-link, .remove-user {
    margin-inline-start: 5px;
}

#UTubDeck {
    background: red;
}

#TagDeck {
    background: orange;
}

#centerPanel, .card {
    background: gray;
}

#MemberDeck {
    background: rgb(122, 122, 248);
}

#ChatDeck {
    background: green;
}